@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.c-des{
  font-size: 20px;
  font-weight: 400;
}
.d-flex{
    display: flex;
}
.c-btn{
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10px 60.5px;
  border-radius: 12px;
  border: none;
}
.c-btn:hover{
  background-color: aqua;
  transition: 0.4s;
  cursor: pointer;
}
.c-hdi{
  font-size: 46px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.c-bh{
  font-size: 24.5px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 42px;
}
.sm-tx{
  font-size: 15px;
  font-weight: 500;
  color: #666666;
}
.mai-s{
  background-image: url(../assets/bg.png);
  background-position: center;
  background-repeat: repeat-y;
  background-color: #666666;
}
/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
  margin: 0 141px;
}
.li-item{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.n-btn{
  background-color: #FEA301;
}
.nv-li{
  gap: 32px;
}
.navbar h2{
  font-size: 32px;
  font-weight: bold;
  color: #111111;
}
.ham{
  display: none;
}
.line{
  display: none;
}
/* banner section style */
.banner{
  align-items: center;
  margin: 0 141px;
  gap: 50px;
}
#s1{
  font-size: 56px;
  font-weight: bold;
  color: #FEA301;
}
#s2{
  font-size: 56px;
  font-weight: bold;
  color: #111111;
}
#s3{
  font-size: 56px;
  font-weight: bold;
  color: #01ACFD;
}
.b-btn{
  background-color: #111111;
}
/* standered curriculum style start */
.st-c{
  background-image: url(../assets/bg.png);
}
.st-cd1{
  max-width: 1090px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 28px;
}
.ki{
  background: linear-gradient(to top,#FFFFFF,#DEF5FF);
  text-align: center;
  border-radius: 18px;
  box-shadow: 30px 40px 29px 5px rgba(0, 0, 0, 0.05);
}
.el{
  background: linear-gradient(to top,#FFFFFF,#FFF4DC);
  text-align: center;
  border-radius: 18px;
  box-shadow: 30px 40px 29px 5px rgba(0, 0, 0, 0.05);
}
.mi{
  background: linear-gradient(to top,#FFFFFF,#F2E8FF);
  text-align: center;
  border-radius: 18px;
  box-shadow: 30px 40px 29px 5px rgba(0, 0, 0, 0.05);
}
/* round button design */
.arr{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FEA301;
  font-size: 45px;
  color: #FFFFFF;
  border: none;
  padding: auto;
}
.arr:hover{
  background-color: aqua;
  cursor: pointer;
}
.bt{
  text-align: center;
  margin-top: 80px;
}
/* stories design start */
.sp{
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 14px 19px;
  border-radius: 48px;
  background-color: #3CD8E8;
  border: none;
}
.sp:hover{
  background-color: tan;
  transition: 0.4s;
  cursor: pointer;
}
.big{
  border: 1px solid black;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.stories{
  max-width: 1168px;
  margin: 0 auto;
  background-image: url(../assets/bg.png);
  background-position: top;
  margin-top: 120px;
}
.im1{
  border-radius: 15px 15px 0 0;
}
.container{
  display: flex;
  gap: 20px;
}
.sub-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.b-1{
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  background-color: #FFFFFF;
}
.b-1 > img{
  border-radius: 10px 10px 0 0;
}
.c-1{
  position: relative;
  left: 30px;
  top: -25px;
}
.bbc1{
  padding-left: 30px;
}
.bci{
  background-color: #000000;
  margin: 70px 0;
}
.dser{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}
.fd1 > div{
  display: flex;
}
.fd2,.fd3{
  display: flex;
  flex-direction: column;
}
.fd3 > div{
  display: flex;
  gap: 10px;
}
.area{
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
.foot{
  background-color: #01ACFD;
  padding: 123px 228px 174px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* responsive style */
@media screen and (max-width: 1024px){
  /* navbar responsive */
  .navbar h2{
    display: none;
  }
  .nv-li{
    display: none;
  }
  .navbar button{
    display: none;
  }
  .ham{
    display: block;
  }
  .line{
    display: block;
    background-color: #FEA301;
    border: 0;
    height: 2px;
    margin-top: 10px;
  }
  .navbar{
    margin: 0;
  }
  .bd{
    display: none;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .b-txt{
    text-align: center;
  }
  .b-img > img{
    width: 336px;
    height: 413px;
  }
  /* standered curriculum responsive */
  .arr{
    display: none;
  }
  .st-cd1{
    grid-template-columns: repeat(1,1fr);
  }
  .stories{
    margin: 0;
  }
  .big{
    display: none;
  }
  .sub-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    max-width: 100%;
  }
  .bbc1{
    padding: 10px;
  }
  .area{
    flex-direction: column;
  }
  .foot{
    padding: 20px;
  }
  .b-1 img{
    width: 100%;
  }
  .sp{
    font-size: 9.13px;
    padding: 6px 11px;
    top: -18px;
    left: 15px;
  }
}
